<ion-header>
  <ion-navbar>
    <ion-title>
        Ubicacion de Merenderos
    </ion-title>

    
   

  <!-- <ion-buttons end *ngIf="comedorSelected">
      <button ion-button icon-only (click)="displayRoutes()">
          <ion-icon name="compass"></ion-icon>
        </button>
    </ion-buttons> !-->
    
      <ion-buttons end>
        <button ion-button icon-only (click)="addMarker()">
            <ion-icon name="md-locate"></ion-icon>
          </button>
      </ion-buttons>  
      </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="RutaMerendero">
    <ion-label class="etiquetaRuta">Ruta a Merendero</ion-label>
    <ion-select #myComedor value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="rutaComedor(myComedor)">
      <ion-option *ngFor="let comedor of comedoresKey" value={{comedor}}>{{comedor}}</ion-option>
      </ion-select>
  </ion-item>

  <div id="map" style="width:100%; height:100%;"></div>
  



</ion-content>



