<ion-header>
  <ion-navbar>
    <ion-title>
        Ubicacion de Merenderos
    </ion-title>

  <!-- <ion-buttons end *ngIf="comedorSelected">
      <button ion-button icon-only (click)="displayRoutes()">
          <ion-icon name="compass"></ion-icon>
        </button>
    </ion-buttons> !-->
      <ion-buttons end>
        <button ion-button icon-only (click)="addMarker()">
            <ion-icon name="md-locate"></ion-icon>
          </button>
      </ion-buttons>  
      </ion-navbar>
</ion-header>

<ion-content>
  <div id="map" style="width:100%; height:100%;"></div>
  <ion-item class="seleccionComedor">
    <ion-label>Selecione un Comedor</ion-label>
    <ion-select #mySelect value="brown" ok-text="Okay" cancel-text="Dismiss" (ionChange)="selectAll(mySelect)">
      <ion-option *ngFor="let key of comedoresKey" value={{key}}>{{key}}</ion-option>
    </ion-select>
  </ion-item>
</ion-content>