page-ubicacion{
    
ion-content {
    #map {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }
  }
  #text{
    margin: 3px 0 !important;
    float: left;
}
#imageInfo{
    img{
        margin: 3px 0 !important;
        width: 50% !important;
        //float: right;
    }
}
ion-title{
  text-align: center;
}
.RutaMerendero{
  width: 83%;
  top:0;
  position: fixed;
  z-index: 1000;
  margin: 620px;
  margin-left: 2px;
  
}
.etiquetaRuta{
  color: black;
  font-family: 'Work Sans', sans-serif;
}

}
