/*Estilos Generales*/
.toolbar-title-ios {
    text-align: center;
    font-size: 2.9rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}

.content {
    background: linear-gradient(to bottom, #81ecec 20%, white 80%);
    
}


// h1 {
//     display: solid;
//     font-size: 40px;
//     margin-top: 0em;
// }
h6 {
    font-family: 'Lato', sans-serif;
    color: rgb(22, 4, 22);
    font-size: 20px;
}


//     font-family: 'Lora', serif;
//     text-shadow: darkmagenta 0.1em 0.1em 0.2em;
// }
.bonton-principal {
    background: linear-gradient(to bottom, #00cec9 20%, white 80%);
    color: rgb(145, 13, 13);
    // display: absolute;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 300px !important;
    height: 120px !important;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}


/*Efectos, Hover*/

.bonton-principal:hover {
    box-shadow: 0px 0px 0px;
    padding-top: 7px;
    color: white;
}


//////////////////////////////////////////////////////////////