page-dietas {
    /*Estilos Generales*/
    .ion-header{
        size: 100px;
    }

.content {
    background: linear-gradient(to bottom, #81ecec 20%, white 80%);
    
    
}

 h1 {
    display: solid;
    font-size: 25px;
     margin-top: 0em;
 }

     font-family: 'Lora', serif;
     text-shadow: darkmagenta 0.1em 0.1em 0.2em;
 
.bonton-principal {
    
    background: linear-gradient(to bottom, #2f3534 50%, white 80%);
    color: rgb(238, 238, 236);
    //display: absolute;
    font-size: 15px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    // width: 340px !important;
    height: 100px !important;
    width: 250px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    
    
    
    
}


/*Efectos, Hover*/

.bonton-principal:hover {
    box-shadow: 0px 0px 0px;
    padding-top: 7px;
    color: white;
}

    .atras ion-icon{
    
        border-radius: 50px !important;
        width: 20px !important;
        height: 30px !important;
        background: var(--ion-color-tertiary) !important;
        color: var(--ion-color-light) !important;
        padding: 5px !important;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    .atras:hover {
        box-shadow:0px 0px 0px;
        padding-top:7px;
        color:white;
        background: rgb(202, 211, 204);
    }
}